
html * {
	font-family: 'Open Sans', sans-serif;
}

body {
    background: #ffffff;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
	vertical-align: baseline;
	text-align: center;
}

h1 {
	margin: 6px auto;
	font-size: 40pt;
}

.main {
	padding: 50px 100px;
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
	background-color: #ffffff;
	text-align: center;
}

#server-button {
	display: block;
	margin: 10px auto;
	font-size: 30pt;
	background-color: rgb(143, 255, 68);
	border-radius: 100px;
	border-style: none;
	font-style: bold;
	width: 200px;
	height: 200px;
	box-shadow: 5px 5px rgb(130, 233, 62);
}

#server-button:hover {
	background-color: rgb(131, 235, 62);
	box-shadow: 5px 5px rgb(124, 221, 59);
	cursor: pointer;
}

#server-button:focus {
	outline: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

th {
	text-align: left;
	border: 1px solid black;
	border-right: none;
	padding: 10px;
}

td {
	text-align: left;
	border: 1px solid black;
	border-left: none;
	padding: 10px;
}

label {
	font-size: 20px;
	font-weight: bold;
}

#label-input {
	padding: 5px;
	margin: 6px;
	font-size: 14pt;
}

#apply-label-button {
	padding: 5px 10px;
	font-size: 14pt;
	background-color: rgb(143, 255, 68);
	box-shadow: 3px 3px rgb(130, 233, 62);
	border-style: none;
	border-radius: 5px;
}
#apply-label-button:hover {
	background-color: rgb(131, 235, 62);
	box-shadow: 3px 3px rgb(124, 221, 59);
	cursor: pointer;
}

span img {
	display: inline;
}

.connection-info {
	margin: 10px 0;
}

.connection-info label {
	margin: 10px;
	font-size: 25pt;
}

.connection-info img {
	height: 40px;
}